/* NORMALIZE - sass
   @mixin ====================================== */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

ul {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-padding-start: 0 !important;
  list-style-position: outside;
  margin-left: 0;
  margin: 0;
  padding: 0;
  list-item-style: none; }

/* NORMALIZE - END
   @mixin ====================================== */
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../css/fonts/HelveticaNeue-Bold.eot");
  src: url("../css/fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/HelveticaNeue-Bold.woff") format("woff"), url("../css/fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../css/fonts/HelveticaNeue-Medium.eot");
  src: url("../css/fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../css/fonts/HelveticaNeue-Medium.woff") format("woff"), url("../css/fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../css/fonts/HelveticaNeue.eot");
  src: url("../css/fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../css/fonts/HelveticaNeue.woff") format("woff"), url("../css/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url("../css/fonts/HelveticaNeue-CondensedBold.eot");
  src: url("../css/fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../css/fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../css/fonts/HelveticaNeue-Light.eot");
  src: url("../css/fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../css/fonts/HelveticaNeue-Light.woff") format("woff"), url("../css/fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* BASE - sass
   @mixin ====================================== */
@viewport {
  width: device-width; }

:root {
  font-size: 16px; }
  @media screen and (min-width: 1600px) {
    :root {
      font-size: 20px; } }

html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 1.42857em; }

a {
  background: transparent;
  text-decoration: none;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 0.07692em; }

ul {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-padding-start: 0 !important;
  list-style-position: outside;
  margin-left: 0;
  margin: 0;
  padding: 0;
  list-item-style: none; }

@media screen and (min-width: 1200px) {
  body {
    background-color: #fff; } }

::-webkit-selection {
  color: #fff;
  background: #009ddc; }

::-moz-selection {
  color: #fff;
  background: #009ddc; }

::selection {
  color: #fff;
  background: #009ddc; }

header {
  background-color: #000; }

section {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem; }

h2 {
  font-size: 2.5rem;
  text-transform: uppercase; }
  @media screen and (max-width: 310px) {
    h2 {
      font-size: 2rem; } }

/* BASE - END
   @mixin ====================================== */
/* LAYOUT - sass
   @mixin ====================================== */
.nav {
  margin-top: 0; }

.nav-toggle {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 21;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: -0.3125rem;
  display: none;
  height: 2.75rem;
  width: 2.75rem;
  border-bottom: none !important; }
  .nav-toggle.active i::before, .nav-toggle.active i::after {
    background: #009ddc; }
  .nav-toggle:hover, .nav-toggle:focus, .nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 1.5625rem;
    height: 0.1875rem;
    color: #009ddc;
    font: bold 0.875rem/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -3.4375rem;
    background: #009ddc;
    transition: all .2s ease-out; }
    .nav-toggle i::before, .nav-toggle i::after {
      content: '';
      width: 1.5625rem;
      height: 0.1875rem;
      background: #009ddc;
      position: absolute;
      left: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .nav-toggle i::before {
      top: -0.4375rem; }
    .nav-toggle i::after {
      bottom: -0.4375rem; }
  .nav-toggle:hover i::before {
    top: -0.625rem; }
  .nav-toggle:hover i::after {
    bottom: -0.625rem; }
  .nav-toggle.active i {
    background: transparent; }
    .nav-toggle.active i::before {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
    .nav-toggle.active i::after {
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg); }
  @media screen and (max-width: 767px) {
    .nav-toggle {
      display: block; } }

.nav-justified {
  background-color: transparent; }
  .nav-justified > li > a {
    font-size: 1.0625rem;
    line-height: 1.42857em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-repeat: repeat-x;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    font-family: 'HelveticaNeue-CondensedBold', sans-serif; }
  .nav-justified > .active > a {
    background-image: none; }
    .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
      background-image: none; }
  @media screen and (min-width: 768px) {
    .nav-justified {
      max-height: 2.5rem; } }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #00aeef; }

.navbar {
  border: 0;
  min-height: 2.5rem;
  background-color: #000; }

@media screen and (max-width: 767px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    border-top: 0; } }

@media (min-width: 1600px) {
  .container {
    width: 1600px; } }

/* LAYOUT - END
   @mixin ====================================== */
/* MODULES - sass
   @mixin ====================================== */
#home {
  background: url(../img/cover.jpg);
  background-color: #009ddc;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0; }

.home-overlay {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.33) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.33) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.33) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=0 );
  background-repeat: repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }

.intro {
  position: absolute;
  width: 100%;
  bottom: -3.75rem;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px; }
  .intro h1 {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 3.25rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.07692em;
    max-width: 34rem;
    margin: 0 auto; }
    @media screen and (max-width: 310px) {
      .intro h1 {
        font-size: 2.1875rem; } }

.btn-header {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.8125rem;
  text-align: center;
  letter-spacing: 0.0689656em;
  border: 0.1666em solid #00aeef;
  border-radius: 0;
  margin: 25px 0 0 0;
  padding: 0.20687em 1.51724em 0.24138em 1.51724em;
  text-transform: uppercase;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  transition: all 0.3s ease-in-out; }
  .btn-header:hover, .btn-header:focus {
    color: #fff;
    background: #00aeef;
    box-shadow: none; }
  .btn-header:active, .btn-header.active {
    background: #009ddc;
    border: 0.1666em solid #009ddc; }
  @media screen and (max-width: 310px) {
    .btn-header {
      padding: 0.20687em 0.5em 0.24138em 0.5em; } }

.black-font {
  color: #000; }

.title {
  background-color: #2a333c;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  .title h2 {
    color: #fff; }

.img-center {
  margin: 0 auto;
  display: block; }

.about-us {
  padding-top: 2.5rem;
  padding-bottom: 3.2rem; }

#about span {
  height: 7px !important;
  background-color: #00aeef;
  width: 100%;
  content: "";
  display: block; }

#about h2 {
  margin-bottom: 0.9375rem;
  color: #404041; }
  @media screen and (max-width: 991px) {
    #about h2 {
      font-size: 2rem; } }

#about p {
  margin-top: 0.9375rem; }

#about img {
  margin-top: 2.375rem; }
  @media screen and (max-width: 991px) {
    #about img {
      margin-bottom: 2.375rem; } }

.values {
  background-color: #00aeef; }
  .values h2 {
    color: #fff;
    margin: 0.5rem 0; }
  .values .v-icon {
    text-align: right; }
    @media screen and (max-width: 767px) {
      .values .v-icon {
        text-align: center; } }
  .values i {
    font-size: 2.375rem;
    padding-top: 0.39473em;
    color: #fff;
    background-color: #2a333c;
    width: 1.84210em;
    height: 1.84210em;
    text-align: center;
    margin-right: 0;
    border-radius: 50%;
    margin: 8px 40px 0 0; }
    @media screen and (max-width: 767px) {
      .values i {
        margin: 8px 40px 20px 0; } }
  .values p {
    margin-bottom: 1.625rem; }

.team {
  margin-top: 40px; }
  .team span {
    height: 3px !important;
    background-color: #00aeef;
    width: 67%;
    content: "";
    display: block;
    margin-top: 0.7em; }
    @media screen and (max-width: 1199px) {
      .team span {
        width: 83%; } }
    @media screen and (max-width: 991px) {
      .team span {
        width: 51%; } }
    @media screen and (max-width: 767px) {
      .team span {
        width: 100%; } }
  .team .flex-img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  @media screen and (max-width: 992px) {
    .team .second-img {
      margin-top: 45px; } }
  .team h4 {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #00aeef;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: 4px; }
    @media screen and (max-width: 767px) {
      .team h4 {
        font-size: 1.25rem; } }
  @media screen and (max-width: 767px) {
    .team h2 {
      font-size: 1.625rem; } }
  .team p {
    padding-right: 20px; }
  @media screen and (min-width: 470px) {
    .team br {
      display: none; } }

#portfolio h2 {
  color: #00aeef; }

.companies {
  background-color: #f4f6f7;
  padding: 50px;
  margin-top: 40px; }
  @media screen and (max-width: 767px) {
    .companies {
      padding: 20px;
      text-align: center; } }
  @media screen and (max-width: 767px) {
    .companies img {
      margin: 30px auto; } }
  .companies h2 {
    margin-bottom: 10px; }

.btn-blue {
  color: #fff;
  background: #00aeef;
  font-size: 1.8125rem;
  padding: 0.3448em 4.8275em 0.24138em 4.8275em;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem; }
  .btn-blue:hover, .btn-blue:focus {
    color: #fff;
    background: #009ddc;
    border: 0.1666em solid #009ddc;
    box-shadow: none; }
  .btn-blue:active, .btn-blue.active {
    background: #009ddc;
    border: 0.1666em solid #009ddc; }
  @media screen and (max-width: 284px) {
    .btn-blue {
      padding: 0.20687em 0.5em 0.24138em 0.5em; } }
  @media screen and (min-width: 285px) and (max-width: 991px) {
    .btn-blue {
      padding: 0.20687em 50px 0.24138em 50px; } }

@media screen and (min-width: 778px) {
  .img-right {
    float: right;
    text-align: right; } }

@media screen and (min-width: 778px) {
  .img-right img {
    float: right; } }

#news {
  padding-bottom: 0;
  padding-top: 2rem; }

#parallax {
  background-attachment: fixed !important;
  background-image: url("../img/bg-news.jpg");
  background-repeat: repeat;
  background-size: cover;
  display: inline;
  float: left;
  padding: 0;
  width: 100%;
  z-index: 1100;
  -webkit-box-shadow: inset 0px 4px 26px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 4px 26px -7px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 4px 26px -7px rgba(0, 0, 0, 0.75); }

.parallax {
  display: inline;
  float: left;
  width: 100%;
  background-color: rgba(0, 174, 239, 0.6);
  padding: 3.125rem 0; }
  .parallax h4 {
    font-weight: "HelveticaNeue-Bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 8px;
    line-height: 1.2em; }
  .parallax p {
    margin-bottom: 2rem; }
  .parallax .form-control {
    display: block;
    width: 100%;
    max-width: 400px !important;
    height: 3.375rem;
    padding: 12px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0; }

.btn-gray {
  font-size: 1.8125rem;
  background: #2a333c;
  border-color: #2a333c;
  padding: 0.20687em 50px 0.24138em 50px;
  margin: 20px 0 0 0; }
  .btn-gray:hover, .btn-gray:focus {
    background: #1b2026;
    border-color: #1b2026; }
  .btn-gray:active, .btn-gray.active {
    background: #1b2026;
    border-color: #1b2026; }
  @media screen and (max-width: 305px) {
    .btn-gray {
      padding: 0.20687em 0.5em 0.24138em 0.5em; } }

.btn-msg {
  padding: 0.20687em 40px 0.24138em 40px; }
  @media screen and (max-width: 340px) {
    .btn-msg {
      padding: 0.20687em 15px 0.24138em 15px; } }
  @media screen and (max-width: 290px) {
    .btn-msg {
      padding: 0.20687em 5px 0.24138em 5px; } }

@media screen and (min-width: 1200px) {
  .margin-left {
    margin-left: 35px; } }

#contact {
  padding-top: 0;
  padding-bottom: 0; }
  #contact .form-bg {
    background-color: #e8eef1;
    padding: 20px;
    padding-top: 30px; }
    @media screen and (max-width: 767px) {
      #contact .form-bg {
        padding: 10px;
        padding-top: 30px; } }
  #contact .send-blue {
    color: #009ddc;
    margin-bottom: 30px; }
    @media screen and (max-width: 440px) {
      #contact .send-blue {
        font-size: 2rem; } }
  #contact form {
    margin: 30px 40px; }
    @media screen and (max-width: 767px) {
      #contact form {
        margin: 30px 0; } }
  #contact .title > h2 {
    margin-left: 40px;
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      #contact .title > h2 {
        margin-left: 0; } }
  #contact .form-control {
    font-size: 16px;
    border: 0;
    border-radius: 0; }
  #contact #name, #contact #email {
    height: 3.375rem; }
  #contact #message {
    margin-top: 15px; }
  #contact #submit {
    margin-top: 30px; }
  #contact .contact-left {
    color: #2a333c;
    font-weight: bold; }
    @media screen and (max-width: 767px) {
      #contact .contact-left {
        text-align: center;
        padding-bottom: 20px; } }
    @media screen and (min-width: 768px) {
      #contact .contact-left img {
        margin-top: 5rem;
        margin-bottom: 3.125rem; } }
    @media screen and (min-width: 992px) {
      #contact .contact-left img {
        margin-top: 7.8125rem;
        margin-bottom: 3.125rem; } }
    @media screen and (max-width: 767px) {
      #contact .contact-left img {
        margin-top: 3rem;
        margin-bottom: 2rem; } }
    #contact .contact-left p {
      margin-bottom: 20px; }
    #contact .contact-left a {
      text-decoration: none; }
      @media screen and (max-width: 767px) {
        #contact .contact-left a {
          margin-bottom: 2rem !important; } }

footer {
  background-color: #000; }
  @media screen and (max-width: 767px) {
    footer {
      text-align: center; } }
  footer h5 {
    font-size: 0.875rem;
    padding: 3.75rem;
    padding-left: 0; }
    @media screen and (max-width: 767px) {
      footer h5 {
        padding: 0.3125rem;
        padding-bottom: 1rem; } }
  footer .icons {
    font-size: 1.4375rem;
    padding: 2.5rem 0;
    text-align: center; }
    @media screen and (max-width: 767px) {
      footer .icons {
        padding-top: 1.5625rem;
        padding-bottom: 1rem; } }
    @media screen and (min-width: 768px) {
      footer .icons {
        text-align: right; } }
    footer .icons ul {
      overflow: auto;
      float: none; }
      footer .icons ul li {
        list-style-type: none;
        float: none;
        display: inline-block;
        margin: 5px; }
        footer .icons ul li a i {
          background-color: #00aeef;
          color: #fff;
          font-size: 1.375rem;
          width: 2.5em;
          height: 2.5em;
          padding-top: 0.7em;
          text-align: center;
          margin-right: 0;
          border-radius: 50%;
          transition: all 0.2s ease-in-out; }
          footer .icons ul li a i:hover {
            background-color: #009ddc; }

.maps {
  line-height: 0; }
  .maps iframe {
    pointer-events: none; }

/* MODULES - END
   @mixin ====================================== */
/* STATE - sass
   @mixin ====================================== */
/* STATE - END
   @mixin ====================================== */
/* THEME - sass
   @mixin ====================================== */
#preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999; }

#status {
  background-image: url(../img/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px; }

/* THEME - END
   @mixin ====================================== */
