
@import _juice
@import _utils-vars
@import _utils-colors
@import _utils-functions
@import _utils-mixin
@import _utils-typography
@import _web-fonts
  
/* BASE - sass
   ======================================= */
  
@viewport
  width: device-width 
 
:root
  font-size: $base-font-size
  @include bp(min, 1600px)
    font-size: $base-px-large

html  
  background-color: $color-background-white
  box-sizing: border-box
  height: 100% 
 
* 
  &:before,
  &:after 
    box-sizing: inherit

body 
  -webkit-font-smoothing: antialiased
  color: $font-white
  font-family: $font-family-default
  min-height: 100%
  overflow-x: hidden
  text-rendering: optimizeLegibility
  font-size: 1.5rem
  line-height: $base-line-height
  

a 
  background: transparent
  text-decoration: none
  transition: color .2s


img 
  height: auto
  max-width: 100%


h1,h2,h3,h4,h5,h6 
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: $font-c-bold
  font-weight: normal
  line-height: 1em
  letter-spacing: 0.07692em

ul
  -webkit-margin-before: 0!important 
  -webkit-margin-after: 0!important 
  -webkit-padding-start: 0!important 
  list-style-position: outside
  margin-left: 0
  margin: 0
  padding: 0
  list-item-style: none
  
  
body
  @include bp(min, 1200px) 
    background-color: $white

::-webkit-selection
  color: $font-white
  background: $color-secondary

::-moz-selection 
  color: $font-white
  background: $color-secondary

::selection 
  color: $font-white
  background: $color-secondary

header
  background-color: $color-background-footer 
  
section
  padding-top: 3.125rem
  padding-bottom: 2.5rem

h2
  font-size: 2.5rem
  text-transform: uppercase
  @include bp(max, 310px)
    font-size: 2rem
 
   
/* BASE - END
   ======================================= */