/* LAYOUT - sass
   ======================================= */
@import _juice
@import _utils-vars
@import _utils-colors
@import _utils-functions
@import _utils-mixin
@import _utils-typography



.nav
  margin-top: 0

.nav-toggle
  cursor: pointer
  text-decoration: none
  &.active i
    &::before, &::after
      background: $color-secondary
  &:hover, &:focus, &:active
    outline: none
    border-bottom: none !important
  i
    position: relative
    display: -moz-inline-stack
    display: inline-block
    zoom: 1
    *display: inline
    width: 1.5625rem
    height: 0.1875rem
    color: $color-secondary
    font: bold 0.875rem/.4 Helvetica
    text-transform: uppercase
    text-indent: -3.4375rem
    background: $color-secondary
    transition: all .2s ease-out
    &::before, &::after
      content: ''
      width: 1.5625rem
      height: 0.1875rem
      background: $color-secondary
      position: absolute
      left: 0
      -webkit-transition: 0.2s
      -o-transition: 0.2s
      transition: 0.2s
    &::before
      top: -0.4375rem
    &::after
      bottom: -0.4375rem
  &:hover i
    &::before
      top: -0.625rem
    &::after
      bottom: -0.625rem
  &.active i
    background: transparent
    &::before
      top: 0
      -webkit-transform: rotateZ(45deg)
      -moz-transform: rotateZ(45deg)
      -ms-transform: rotateZ(45deg)
      -o-transform: rotateZ(45deg)
      transform: rotateZ(45deg)
    &::after
      bottom: 0
      -webkit-transform: rotateZ(-45deg)
      -moz-transform: rotateZ(-45deg)
      -ms-transform: rotateZ(-45deg)
      -o-transform: rotateZ(-45deg)
      transform: rotateZ(-45deg)
  position: absolute
  top: 0
  right: 0
  z-index: 21
  padding: 0
  display: block
  margin: 0 auto
  margin-top: -0.3125rem
  display: none
  height: 2.75rem
  width: 2.75rem
  border-bottom: none !important
  @include bp(max, 767px)
    display: block

.nav-justified
  background-color: transparent
  >
    li > a
      font-size: 1.0625rem
      line-height: $base-line-height
      padding-top: 0.5rem
      padding-bottom: 0.5rem
      margin-bottom: 0
      font-weight: bold
      color: $font-white
      text-align: center
      background-repeat: repeat-x
      text-transform: uppercase
      letter-spacing: 0.0625rem
      font-family: 'HelveticaNeue-CondensedBold', sans-serif;
    .active > a
      background-image: none
      &:hover, &:focus
        background-image: none
  @include bp(min, 768px)
    max-height: 2.5rem
    
.nav>li>a:hover, .nav>li>a:focus
    text-decoration: none
    background-color: $color-primary

.navbar
  border: 0
  min-height: 2.5rem
  background-color: $color-background-footer 

.navbar-collapse
  @include bp(max, 767px)
    padding-right: 0
    padding-left: 0
    border-top: 0
   
@media (min-width: 1600px) 
  .container 
      width: 1600px; 
/* LAYOUT - END
   ======================================= */