/* MODULES - sass
   ======================================= */
@import _juice
@import _utils-vars
@import _utils-colors
@import _utils-functions
@import _utils-mixin
@import _utils-typography
  
#home
  background: url(../img/cover.jpg)
  background-color: $color-secondary
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: 50% 50%
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  padding: 0
  
.home-overlay
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%)
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%)
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=0 )
  background-repeat: repeat
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 0
  
.intro
  position: absolute
  width: 100%
  bottom: -3.75rem
  left: 0
  text-align: center
  -webkit-transform: translate(0%, -50%)
  -moz-transform: translate(0%, -50%)
  -ms-transform: translate(0%, -50%)
  -o-transform: translate(0%, -50%)
  transform: translate(0%, -50%)
  padding: 0 15px

  
  h1
    font-family: $font-c-bold
    font-size: 3.25rem
    font-weight: 800
    text-transform: uppercase
    letter-spacing: 0.07692em
    max-width: 34rem
    margin: 0 auto
  
    @include bp(max, 310px)
      font-size: 2.1875rem

.btn-header
  font-family: $font-c-bold
  font-size: 1.8125rem
  text-align: center
  letter-spacing: 0.0689656em
  border: 0.1666em solid $color-primary
  border-radius: 0
  margin: 25px 0 0 0
  padding: 0.20687em 1.51724em 0.24138em 1.51724em
  text-transform: uppercase
  color: $font-white
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%)
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%)
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 )
  transition: all 0.3s ease-in-out
  
  &:hover, &:focus
    color: $font-white
    background: $color-primary
    box-shadow: none
  
  &:active, &.active
    background: $color-secondary
    border: 0.1666em solid $color-secondary
    
  @include bp(max, 310px)
    padding: 0.20687em 0.5em 0.24138em 0.5em
  
.black-font
  color: $font-black

.title
  background-color: $color-background
  padding-top: 1.25rem
  padding-bottom: 1.25rem
  
  h2
    color: $font-white
  
//ABOUT
  
.img-center
  margin: 0 auto
  display: block
  
.about-us
  padding-top: 2.5rem
  padding-bottom: 3.2rem
  
#about 
  span
    height: 7px!important
    background-color: $color-primary
    width: 100%
    content: ""
    display: block
    
  h2
    margin-bottom: 0.9375rem
    color: $font-gray
    @include bp(max, 991px)
      font-size: 2rem 
    
  p
    margin-top: 0.9375rem
  
  img
    margin-top: 2.375rem
    
    @include bp(max, 991px)
      margin-bottom: 2.375rem
    
.values
  background-color: $color-primary
  
  h2
    color: $font-white
    margin: 0.5rem 0
    
  .v-icon
    text-align: right
    
    @include bp(max, 767px)
      text-align: center
  
  i
    font-size: 2.375rem
    padding-top: 0.39473em
    color: $font-white
    background-color: $color-background
    width: 1.84210em
    height: 1.84210em
    text-align: center
    margin-right: 0
    border-radius: 50%
    margin: 8px 40px 0 0
    @include bp(max, 767px)
      margin: 8px 40px 20px 0
  
  p
    margin-bottom: 1.625rem
    
.team
  margin-top: 40px
  
  span
    height: 3px!important
    background-color: $color-primary
    width: 67%
    content: ""
    display: block
    margin-top: 0.7em
    @include bp(max, 1199px)
      width: 83%
    @include bp(max, 991px)
      width: 51%
    @include bp(max, 767px)
      width: 100%

  .flex-img
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-align: center
    -moz-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    margin-bottom: 30px
  
  .second-img
    @include bp(max, 992px)
      margin-top: 45px
    
  h4
    font-family: $font-c-bold
    color: $font-light-blue
    font-size: 1.75rem
    text-transform: uppercase
    margin-top: 4px
    @include bp(max, 767px)
      font-size: 1.25rem
      
  h2
    @include bp(max, 767px)
      font-size: 1.625rem
    
  p
    padding-right: 20px
    
  br
    @include bp(min, 470px)
      display: none
    
#portfolio
  h2
    color: $font-light-blue
    
.companies
  background-color: $bg-company
  padding: 50px
  margin-top: 40px
  @include bp(max, 767px)
    padding: 20px
    text-align: center
  
  img
    @include bp(max, 767px)
      margin: 30px auto
      
  h2
    margin-bottom: 10px
  
.btn-blue
  color: $font-white
  background: $color-primary
  font-size: 1.8125rem
  padding: 0.3448em 4.8275em 0.24138em 4.8275em
  transition: all 0.3s ease-in-out
  margin-bottom: 2rem
  
  &:hover, &:focus
    color: $font-white
    background: $color-secondary
    border: 0.1666em solid $color-secondary
    box-shadow: none
  
  &:active, &.active
    background: $color-secondary
    border: 0.1666em solid $color-secondary
    
  @include bp(max, 284px)
    padding: 0.20687em 0.5em 0.24138em 0.5em
     
  @include bp(285px, 991px)
    padding: 0.20687em 50px 0.24138em 50px
    
.img-right 
  @include bp(min, 778px)
    float: right
    text-align: right
    
  img
    @include bp(min, 778px)
      float: right

#news
  padding-bottom: 0
  padding-top: 2rem
    
// PARALLAX      
 
#parallax  
  background-attachment: fixed !important 
  background-image: url("../img/bg-news.jpg") 
  background-repeat: repeat 
  background-size: cover 
  display: inline 
  float: left 
  padding: 0 
  width: 100% 
  z-index: 1100 
  -webkit-box-shadow: inset 0px 4px 26px -7px rgba(0,0,0,0.75) 
  -moz-box-shadow: inset 0px 4px 26px -7px rgba(0,0,0,0.75) 
  box-shadow: inset 0px 4px 26px -7px rgba(0,0,0,0.75) 
 

.parallax 
  display: inline 
  float: left 
  width: 100% 
  background-color: rgba(0,174,239,0.6) 
  padding: 3.125rem 0

  h4
    font-weight: $font-bold
    color: $font-white
    font-size: 1.75rem
    margin-bottom: 8px
    line-height: 1.2em
    
  p
    margin-bottom: 2rem
    
  .form-control
    display: block 
    width: 100% 
    max-width: 400px!important
    height: 3.375rem
    padding: 12px 12px 
    font-size: $base-font-size
    line-height: 1.42857143 
    background-color: #fff 
    background-image: none 
    border: 0
    border-radius: 0
    
.btn-gray
  font-size: 1.8125rem
  background: $color-background
  border-color: $color-background
  padding: 0.20687em 50px 0.24138em 50px 
  margin: 20px 0 0 0
  
  &:hover, &:focus
    background: #1b2026
    border-color: #1b2026
  
  &:active, &.active
    background: #1b2026
    border-color: #1b2026
  @include bp(max, 305px)
    padding: 0.20687em 0.5em 0.24138em 0.5em

.btn-msg
  padding: 0.20687em 40px 0.24138em 40px 
  @include bp(max, 340px)
    padding: 0.20687em 15px 0.24138em 15px 
  @include bp(max, 290px)
    padding: 0.20687em 5px 0.24138em 5px 

.margin-left
  @include bp(min, 1200px)
    margin-left: 35px
    
// CONTACT

#contact
  padding-top: 0
  padding-bottom: 0
  .form-bg
    background-color: #e8eef1
    padding: 20px
    padding-top: 30px
    @include bp(max, 767px)
      padding: 10px
      padding-top: 30px
    
  .send-blue
    color: $color-secondary
    margin-bottom: 30px
    @include bp(max, 440px)
      font-size: 2rem
    
  form
    margin: 30px 40px
    @include bp(max, 767px)
      margin: 30px 0
    
    
  .title>h2
    margin-left: 40px
    margin-top: 30px
    @include bp(max, 767px)
      margin-left: 0
    
  .form-control 
    font-size: $base-font-size
    border: 0
    border-radius: 0
    
  #name, #email
    height: 3.375rem
    
  #message
    margin-top: 15px
    
  #submit
    margin-top: 30px
    
    
  .contact-left
    color: $color-background
    font-weight: bold
    @include bp(max, 767px)
      text-align: center
      padding-bottom: 20px
    img
      @include bp(min, 768px)
        margin-top: 5rem
        margin-bottom: 3.125rem
      @include bp(min, 992px)
        margin-top: 7.8125rem
        margin-bottom: 3.125rem
      @include bp(max, 767px)
        margin-top: 3rem
        margin-bottom: 2rem

    p
      margin-bottom: 20px
    a
      text-decoration: none
      @include bp(max, 767px)
        margin-bottom: 2rem!important
        
// FOOTER

footer
  background-color: $black
  @include bp(max, 767px)
    text-align: center

  h5
    font-size: 0.875rem
    padding: 3.75rem
    padding-left: 0
    @include bp(max, 767px)
      padding: 0.3125rem
      padding-bottom: 1rem

  .icons 
    font-size: 1.4375rem
    padding: 2.5rem 0
    text-align: center
    @include bp(max, 767px)
      padding-top: 1.5625rem
      padding-bottom: 1rem
    @include bp(min, 768px)
      text-align: right

    ul  
      overflow: auto 
      float: none 

      li  
        list-style-type: none 
        float: none 
        display: inline-block
        margin: 5px

        a i   
          background-color: $color-primary
          color: $white
          font-size: 1.375rem
          width: 2.5em
          height: 2.5em
          padding-top: 0.7em
          text-align: center 
          margin-right: 0 
          border-radius: 50% 
          transition: all 0.2s ease-in-out 

          &:hover  
            background-color: $color-secondary

.maps 
  line-height: 0
  iframe
    pointer-events: none


/* MODULES - END
   ======================================= */