/* THEME - sass
   ======================================= */
@import _juice
@import _utils-vars
@import _utils-colors
@import _utils-functions
@import _utils-mixin
@import _utils-typography
  

// Preloader


#preloader 
  background: #FFF
  bottom: 0
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 9999


#status 
  background-image: url(../img/preloader.gif)
  background-position: center
  background-repeat: no-repeat
  height: 200px
  left: 50%
  margin: -100px 0 0 -100px
  position: absolute
  top: 50%
  width: 200px



/* THEME - END
   ======================================= */