// Webfonts imports

@font-face 
	font-family: 'HelveticaNeue-Bold'
	src: url('../css/fonts/HelveticaNeue-Bold.eot')
	src: url('../css/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../css/fonts/HelveticaNeue-Bold.woff') format('woff'), url('../css/fonts/HelveticaNeue-Bold.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'HelveticaNeue-Medium'
	src: url('../css/fonts/HelveticaNeue-Medium.eot')
	src: url('../css/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('../css/fonts/HelveticaNeue-Medium.woff') format('woff'), url('../css/fonts/HelveticaNeue-Medium.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'HelveticaNeue'
	src: url('../css/fonts/HelveticaNeue.eot')
	src: url('../css/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('../css/fonts/HelveticaNeue.woff') format('woff'), url('../css/fonts/HelveticaNeue.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'HelveticaNeue-CondensedBold'
	src: url('../css/fonts/HelveticaNeue-CondensedBold.eot')
	src: url('../css/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'), url('../css/fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../css/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'HelveticaNeue-Light'
	src: url('../css/fonts/HelveticaNeue-Light.eot')
	src: url('../css/fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), url('../css/fonts/HelveticaNeue-Light.woff') format('woff'), url('../css/fonts/HelveticaNeue-Light.ttf') format('truetype')
	font-weight: normal
	font-style: normal